<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECAT</title>
    <base href="/app/">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png" sizes="32x32">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div #usertoken id="usertoken" data-user-string="@ViewBag.User" data-error-string="@ViewBag.Error"></div>
    <ecat-app>
        <div style="padding: 20%;text-align:center; font-size: 22px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
            <div id="message"></div>
        </div>
    </ecat-app>
    <script>
        var usertoken = document.getElementById("usertoken").getAttribute("data-user-string");

        if (usertoken.length > 0) {
            
            var jsonToken = JSON.parse(usertoken);
            localStorage.setItem("ecatAccessToken", jsonToken.authToken);
            localStorage.setItem("ecatUserIdToken", JSON.stringify(jsonToken));
            window.location = "app/index.html";
        }

        var errorToken = document.getElementById("usertoken").getAttribute("data-error-string");
        var errorMessage;
        if (errorToken.startsWith("{") || errorToken.startsWith("[")) {
            var jsonErrorToken = JSON.parse(errorToken);
            errorMessage = jsonErrorToken.error_description + "<p>Please close this browser window and try again.<p>"
        } else {
            errorMessage = errorToken;
        }
        
        document.getElementById("message").innerHTML = errorMessage;

    </script>
</body>
</html>

