<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECAT</title>
    <base href="/">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png" sizes="32x32">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="authorization" data-success="@ViewBag.Success"></div>
    <ecat-app>
        <div style="padding: 20%;text-align:center; font-size: 22px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
            <!--<img src="assets/icons/covalent.svg" width="200">-->
            <div id="message"></div>
        </div>
    </ecat-app>
    <script>
        var success = document.getElementById("authorization").getAttribute("data-success");
        var message;

        if (success) {
            message = "<p>A token has been successfully generated for your LMS account.</p><p>Close this window and re-poll in ECAT.</p>";
        } else {
            message = "<p>There was a problem generating a token for your LMS account.</p><p>Close this window and try again.</p>";
        }

        document.getElementById("message").innerHTML = message;

    </script>
</body>
</html>
